include:
  # - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

# Enable pipelines for all branches and merge requests
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

stages:
  - build
  - test

backend-build:
  stage: build
  # 21: eclipse-temurin:21-jdk-alpine-3.22
  # image: eclipse-temurin:17-jdk-alpine-3.22 (replace with image: gradle:8.14.0-jdk17)
  image: gradle:8.14.0-jdk17
  cache:
    key: gradle-cache
    paths:
      - AllocationSystemBackend/.gradle/
  script:
    - cd AllocationSystemBackend
    - gradle build
  artifacts:
    paths:
      - AllocationSystemBackend/build/libs/*.jar
  rules:
    - changes:
        - AllocationSystemBackend/**
        - .gitlab-ci.yml

backend-test:
  stage: test
  # 21: eclipse-temurin:21-jdk-alpine-3.22
  image: eclipse-temurin:17-jdk-alpine-3.22
  script:
    - cd AllocationSystemBackend
    - chmod +x ./gradlew
    - ./gradlew test
  artifacts:
    when: always
    paths:
      - AllocationSystemBackend/build/test-results/test/*.xml
      - AllocationSystemBackend/build/reports/tests/test/
    reports:
      junit: AllocationSystemBackend/build/test-results/test/*.xml
  rules:
    - changes:
        - AllocationSystemBackend/**
        - .gitlab-ci.yml
backend-checkstyle:
  stage: test
  image: eclipse-temurin:17-jdk-alpine-3.22
  script:
    - cd AllocationSystemBackend
    - chmod +x ./gradlew
    - ./gradlew checkstyleMain
  artifacts:
    paths:
      - AllocationSystemBackend/build/reports/checkstyle/
  rules:
    - changes:
        - AllocationSystemBackend/**
        - .gitlab-ci.yml
        - AllocationSystemBackend/config/checkstyle/checkstyle.xml

frontend-build:
  stage: build
  image: node:20.19.5-slim
  cache:
    key: npm-cache
    paths:
      - AllocationSystemFrontend/node_modules/
  script:
    - cd AllocationSystemFrontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - AllocationSystemFrontend/dist/
  rules:
    - changes:
        - AllocationSystemFrontend/**
        - .gitlab-ci.yml

frontend-lint:
  stage: test
  image: node:20.19.5-slim
  script:
    - cd AllocationSystemFrontend
    - npm ci
    - npm run lint
    - npm run vitest:run
  rules:
    - changes:
        - AllocationSystemFrontend/**
        - .gitlab-ci.yml

snyk_test:
  stage: test
  image: node:20
  script:
    - cd AllocationSystemFrontend
    - npm ci
    # fail fast if token is missing
    - 'test -n "$SNYK_TOKEN" || (echo "ERROR: SNYK_TOKEN is not set in CI/CD Variables" && exit 1)'
    # use npx so we don't need global install
    - npx snyk@latest auth "$SNYK_TOKEN"
    # scan; fail on medium+ issues (tune if you want)
    - npx snyk@latest test --severity-threshold=medium
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - AllocationSystemFrontend/**
        - package.json
        - package-lock.json
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# Check for accidentally commited secrets in diffs and default branch

secret_detection:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
