# include:
#   - template: Security/Dependency-Scanning.gitlab-ci.yml
#   - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - build
  - test

backend-build:
  stage: build
  # 21: eclipse-temurin:21-jdk-alpine-3.22
  image: eclipse-temurin:17-jdk-alpine-3.22
  cache:
    key: gradle-cache
    paths:
      - AllocationSystemBackend/.gradle/ 
  script:
    - cd AllocationSystemBackend
    - chmod +x ./gradlew
    - ./gradlew build
  artifacts:
    paths:
      - AllocationSystemBackend/build/
  rules:
    - changes:
        - AllocationSystemBackend/**
        - .gitlab-ci.yml
        - Data/**

backend-test:
  stage: test
  # 21: eclipse-temurin:21-jdk-alpine-3.22
  image: eclipse-temurin:17-jdk-alpine-3.22
  script:
    - cd AllocationSystemBackend
    - chmod +x ./gradlew
    - ./gradlew test
  rules:
    - changes:
        - AllocationSystemBackend/**
        - .gitlab-ci.yml
        - Data/**

frontend-build:
  stage: build
  image: node:20.19.5-slim
  cache:
    key: npm-cache
    paths:
      - AllocationSystemFrontend/node_modules/
  script:
    - cd AllocationSystemFrontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - AllocationSystemFrontend/dist/
  rules:
    - changes:
        - AllocationSystemFrontend/**
        - .gitlab-ci.yml
        - Data/**

frontend-lint:
  stage: test
  image: node:20.19.5-slim
  script:
    - cd AllocationSystemFrontend
    - npm ci
    - npm run lint
    - npm test -- --run
  rules:
    - changes:
        - AllocationSystemFrontend/**
        - .gitlab-ci.yml
        - Data/**

snyk_test:
  stage: test
  image: node:20
  script:
    - cd AllocationSystemFrontend
    - npm ci
    # fail fast if token is missing
    - 'test -n "$SNYK_TOKEN" || (echo "ERROR: SNYK_TOKEN is not set in CI/CD Variables" && exit 1)'
    # use npx so we don't need global install
    - npx snyk@latest auth "$SNYK_TOKEN"
    # scan; fail on medium+ issues (tune if you want)
    - npx snyk@latest test --severity-threshold=medium
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - AllocationSystemFrontend/**
        - package.json
        - package-lock.json
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# Check for accidentally commited secrets in diffs and default branch

secret_detection:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
